{% extends 'base.html' %}

{% block content %}

<style>
  .p3{
    padding-top: 3rem;
  }
</style>

<div class="container p3">
  <form action="{% url 'login' %}" method="POST">

    {% csrf_token %}
    
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="john123" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" name="password">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>

  </form>
  <br>
  <p>
    Didn't registered? <a href="{% url 'signup' %}">Sign Up</a> here
  </p>

</div>

{% endblock %}
